 
 	.header{
    background-image: url("../../images/newimages/hero.png");
    background-size:100% 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 100%;
    background-color: transparent;
    padding-bottom: 5em;
    padding-top: 100px;
  }
  
  #home .container {
    padding-left: 0;
    padding-right: 0;
    padding-top: 10%;
    position: relative;
    z-index: 999;
    padding-bottom: 6rem;
  }

  #home h2 {
    font-size: 35px;
    text-transform: none;
    margin-top: 0;
    line-height: 50px;
    color: #fff;
    text-align: left;
    font-weight: 700;
  }

  #home h5 {
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.70);
    text-align: left;
    margin-top: 1em;
    margin-bottom: 2em ;
    text-transform: capitalize;
    text-shadow: 0px 4px 33px rgba(0, 0, 0, 0.25);
    max-width: 436px;
    line-height: 22px;
  }

  #home h3{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
  }

  .purchase_btn {
    max-width: 100%;
    margin: auto;
      margin-top: auto;
    margin-top: auto;
    cursor: pointer;

  }

  .purchase_btn .button_zal {
    background: #7D5FD2;
    border: none;
    margin-right: 0%;
    padding:7px 10px 9px 10px;
    text-transform: capitalize;
    width: 164px;
    text-align: left;
    margin-top: 16px;
  }

  .purchase_btn .button_zal .fa-arrow-right{

  float: right;

  font-size: 16px;
  }
 
  .button_zal {
    padding: 15px 23px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    color: #fff !important;
    border-radius: 6px;
    display: block;
    font-size: 15px;
    font-weight: 600;
    border: none;
    background: #fff;
  }

  .hero-right {
    text-align: right;
    padding-right: 2%;
  }

  /* slider css*/
  .carousel {
    position: relative;
  }

  .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
  } 
   /* slider css*/

   .search-div input:focus{
     outline:none !important;
   }

   .icons {
    position: relative;
   }

   .icon1{
    position: absolute;
    left: 59%;
    top: 4em;
   }

   .icon1 img{
   width: 60px;
   }

   .icon2
   {
  position: absolute;
  right: 6%;
  top: -5em;
   }

   .icon2 img{
   width: 70px;
   }

   .icon3{
    position: absolute;
    left: 33%;
    top: -3em;
   }

   .icon3 img{
    width: 70px;
   }
   .main-search-bar {
    //display: flex;
    padding-top: 23px;
    .search-div input{
      width: 100%;
      color: #7D5FD2 !important;
      background-color: transparent;
      border: none;
      font-size: 15px;
      font-weight: 600;
      padding-left: 10px;
    }
}
.main-search-bar-inner-one {
  width: 83%;
}
.main-intro{
  display: flex;
  input::placeholder {
    color: #00000078;
  }
}

.suggestions-main {
  background: #fff;
  border-radius:12px;
  top: 20px;
  position: relative;
  padding: 10px !important;
  list-style: none;
  width: 419px;
  transition: all cubic-bezier(.86,0,.07,1) 1s;
  left: -36px;
  z-index: 9;
}

.suggestions-main ul
{
  max-height: 200px;
  overflow-y: auto;
  width: 100%;
  overflow-x: hidden;
}

.suggestions ul{
  margin:0;
  padding:0;
}

.suggestions-main ul li{
  list-style-type: none;
}

.suggestion_name-main h4{
  color: #000;
  font-size: 23px;
  font-weight: 600;
}
.suggestion_name-main h3{
  color: #7B7794 !important;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 15px !important;
  
}

.suggest_h2{
  font-size: 19px !important;
}
 
.suggest_h3{
  font-size: 15px !important;
}

.suggestion_name-main{
  padding: 5px;
}

.suggestion_name-main{
  padding: 5px;
}

li.suggestion-list-items-main {
  border-top: 1px solid #D9D9D9;
  padding: 5px 0 5px 0;
  cursor: pointer;
}
.suggestions-main::-webkit-scrollbar{
  width: 2px !important; 
}
.cross-main{
  font-size: 16px !important;
  padding: 5;
  cursor: pointer;
}

@media (max-width:990px)
{
#home .container{
  width: 90%;
}
}


@media (max-width:768px)
{
  .icons{
    position: absolute;
    width: 100%;
  }
  
  #home .container{
    padding-top: 7%;
    
  }

  .icon2 {
    left: 0;
    top: -30em;
    right: auto;
  }

  .icon3 {
    right: 5%;
    top: -32em;
  }

  .icon1 {
    left: 21%;
    top: 3em;
  }
}

@media (max-width:768px)
{
.icon2 {
  left: 4%;
}
.search-box{
  width:100%;
}

.main-search-bar{
  padding-left: 5%; 
  padding-right: 5%;
}

.header{
  background-image: url("../../newimages/mobile_hero.png");
}
}

@media (max-width:428px)
{
.icon2 img, .icon3 img, .icon1 img {
  width: 40px !important;
}
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, .login_btn , a, p, button, input, .purchase_btn .button_zal ,
 .suggest_h2, .suggest_h3 {
  font-family: poppins !important;
}
