.navigation.fixed-top{
  background-color: #2C293C;
  border-radius: 0;
}

::-ms-input-placeholder { /* Edge 12-18 */
  color:#fff;
  opacity: 1;
}

::placeholder {
  color:#fff;
  opacity: 1;
}

.search-div input::-moz-placeholder{
  color:#fff;
}

.search-div input::placeholder {
  color:#fff;
  opacity: 1;
}

.container {
  padding-left: 0;
  padding-right: 0;
  max-width: 1350px;
}

.navbar > .container, .navbar > .container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.nav > li
{
  padding-top: 11px;
}

.navigation.fixed-top .navbar-collapse {
  height: auto;
  padding: 17px 0px 6px 0px;
  position: relative;
  display: flex !important;
  flex-grow: 1;
}

.float-right{

  float: right;
}

.navbar-brand {
  height: 50px;
  padding: 0 5px !important; 
  font-size: 18px;
  line-height: 11px;
  width:23%;
  margin-top: 10px;
}

.menu-right {
  width:90%;
}

.navigation .logo {
  width: auto;
  display: block;
  height:auto;
}

.navbar-expand-md .navbar-nav{
  flex-direction: row;
}

.navbar-nav {
  position: relative;
  display: flex;
}

.navigation .nav-link
{
  padding-left: 2.25rem !important;
  text-transform: uppercase;
  color: #fff !important;
font-size: 15px;
line-height: 20px;
font-weight: 600;
-webkit-transition: color .3s ease-in-out,background-color .3s ease-in-out,opacity .3s ease-in-out;
transition: color .3s ease-in-out,background-color .3s ease-in-out,opacity .3s ease-in-out;
text-decoration: none;
letter-spacing: 1px;
padding: 1rem;
}

.dash_right {
  display: flex;
  margin-top: 5px;
}

.signup {
  background: #35373a !important;
  margin-right: 15px;
}

.button_zal {
  padding:11px 31px;
  text-align: center;
  text-transform: none;
  transition: 0.5s;
  color: #fff !important;
  border-radius: 5px;
  display: block;
  font-size: 15px;
  font-weight: 600;
  border: none;
  background: #7d5fd2;
  margin-top:-10px;
}

.button_zal a {
  color: #fff;
}

.login {
  background: #7d5fd2 !important;
  padding: 11px 22px !important;
}

.nav > li > a:focus, .nav > li > a:hover {
  text-decoration: none;
  background-color:transparent;
  color:#b323b3 !important;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar{
  margin-bottom: 0;
}

.search-div{
  padding: 7px;
  width: 100%;
}

.search-box {
  border: 1px solid #E1DFEE;
  width: 90%;
  background-color: #fff;
  border-radius: 5px;
  height: 45px;
  padding: 3px 10px;
}

.search-img {
  border-right: none;
  width: 8%;
  height: 23px;
  margin-top: 9px;
  text-align: center;
  img{
    padding-top: 3px;
  }
}

.search-div input{
  width: 100%;
  color: #fff !important;
  background-color: transparent;
  border: none;
  font-size: 14px;
  font-weight: 600;
  padding-left: 0;
}

.search-div input:hover ,   .search-div input:focus {
  outline: none;
}

.wdith50 {
  width: 50%;
}

nav .search-box{
  border: 1px solid #fff; 
  width: 55%;
  background-color: transparent;
  border-radius: 5px;
  height: 45px;
  display: flex;
  padding: 3px 10px;
}
.header-btn{
  cursor: pointer;
  display: flex;
}

@media (min-width: 1200px)
{
 nav .container {
  width: 100%;
  padding-left: 3% !important;
  padding-right: 2% !important;
}
}
 
nav .container {
  padding-left: 0;
  padding-right: 0;
  max-width: 100%;
}
.row.policy-page {
  color: #fff;
  font-size: 16px;
  padding-top: 7%;
}
.policy_overflow
{
max-height:2500px;
overflow:auto;
}
.suggestion_box{
  background-color: #211e32;
  border: 1px solid #2C293C;

  padding: 12px;
  display: flex;
  cursor: pointer;
}
.suggestion_name
{

margin-right: 3%;
color: #E1DFEE;
h5{
  font-size: 16px;
}
}

.suggestions {
  list-style: none;
  scrollbar-width: thin;
  scrollbar-color: #6d8de1 #19181d;
}
ul.suggestions {
  max-height: 250px;
  /* scroll-behavior: auto; */
  list-style: none;
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
  width: 379px;
  top: 69px;
 
}
.searhbar-icons {
  display: flex;
}
.cross-icon {
  font-size: 16px !important;
  color: #fff;
  cursor: pointer;
  padding: 5px;
}
.search-city-name{
  color: #7B7794;
}
.login_btn{
  color: #FFFFFF;
  font-size: 15px;
  padding:0 32px 0 0;
}



@media (max-width: 1000px)
{
  .navbar  .search-box {
  display: none !important;
}

.navbar-brand {
  width: auto;
}

.navbar {
  padding: 20px;
}


.login{
  padding: 7px 15px !important;
  font-size: 15px!important;
  font-weight: 700!important;
  text-transform: capitalize!important;
  margin-top: 8px!important;
}

.login_btn{
  padding: 14px 20px 0 0;
  font-weight: 700;
}

.header{
  padding-top:50px !important;
}

#home h2{
  line-height: 35px!important;
  font-size: 26px!important;
  text-align: center!important;
}

#home h5{
  font-size: 15px!important;
  font-weight: 500!important;
  color: rgb(238, 236, 236)!important;
  text-align: center!important;
  margin-left: auto;
  margin-right: auto;
  max-width: 390px!important;
  margin-top: 10px!important;
  text-transform: none!important;
  margin-bottom: 1em
}

#home h3{
  font-size: 14px!important;
  font-weight: 600!important;
  text-align: center;
}

#home h3 img
{
width: 25px;
margin-right: 4px;
}

.suggestion_name-main h3{ 
  text-align: left !important;
}

.main-search-bar-inner-one {
  width: 100% !important;
}

.search-img{
  border-right: 0 !important;
}

.search-box{
  box-shadow: 0px 0px 8px #7B7794;
}

.main-search-bar .search-div input{
  font-size: 13px !important;
  font-weight: 700 !important; 
  padding-left: 0 !important;
}

.icon2 img , .icon3 img, .icon1 img {
  width: 50px !important;
}

::-ms-input-placeholder { /* Edge 12-18 */
  color:#666 !important;
}

::placeholder {
  color:#666 !important;
}


}
