.navigation.fixed-top{
  background-color: #2C293C;
  border-radius: 0;
}
.container {
  padding-left: 0;
  padding-right: 0;
  max-width: 1350px;
}

.navbar > .container, .navbar > .container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.nav > li
{
  padding-top: 11px;
}

.navigation.fixed-top .navbar-collapse {
  height: auto;
  padding: 17px 0px 6px 0px;
  position: relative;
  display: flex !important;
  flex-grow: 1;
}

.float-right{

  float: right;
}

.navbar-brand {
  height: 50px;
  padding: 0;
  font-size: 18px;
  line-height: 11px;
  width:23%;
  margin-top: 10px;
}

.menu-right {
  width:90%;
}

.navigation .logo {
  width: auto;
  display: block;
  height:auto;
}

.navbar-expand-md .navbar-nav{
  flex-direction: row;
}

.navbar-nav {
  position: relative;
  display: flex;
}

.navigation .nav-link
{
  padding-left: 2.25rem !important;
  text-transform: uppercase;
  color: #fff !important;
font-size: 15px;
line-height: 20px;
font-weight: 600;
-webkit-transition: color .3s ease-in-out,background-color .3s ease-in-out,opacity .3s ease-in-out;
transition: color .3s ease-in-out,background-color .3s ease-in-out,opacity .3s ease-in-out;
text-decoration: none;
letter-spacing: 1px;
padding: 1rem;
}

.dash_right {
  display: flex;
  margin-top: 5px;
}

.signup {
  background: #35373a !important;
  margin-right: 15px;
}

.button_zal {
  padding:11px 31px;
  text-align: center;
  text-transform: none;
  transition: 0.5s;
  color: #fff !important;
  border-radius: 5px;
  display: block;
  font-size: 15px;
  font-weight: 600;
  border: none;
  background: #7d5fd2;
  margin-top: 3px;
}

.button_zal a {
  color: #fff;
}

.login {
  background: #7d5fd2 !important;
  padding: 11px 31px !important;
}

.nav > li > a:focus, .nav > li > a:hover {
  text-decoration: none;
  background-color:transparent;
  color:#b323b3 !important;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar{
  margin-bottom: 0;
}

.search-div{
  padding: 6px;
  width: 89%;
}

.search-box {
  border: 1px solid #E1DFEE;
  width: 90%;
  background-color: #fff;
  border-radius: 5px;
  height: 45px;
  padding: 3px 10px;
}

.search-img {
  border-right: 1px solid #7B7794;
  width: 11%;
  height: 23px;
  margin-top: 6px;
  text-align: center;
}

.search-div input{
  width: 100%;
  color: #7B7794 !important;
  background-color: transparent;
  border: none;
  font-size: 15px;
  font-weight: 600;
  padding-left: 10px;
}

.search-div input:hover ,   .search-div input:focus {
  outline: none;
}

.wdith50 {
  width: 50%;
}

nav .search-box{
  border: 1px solid #434055;
  width: 65%;
  background-color: transparent;
  border-radius: 5px;
  height: 45px;
  display:flex;
  padding: 3px 1px;
}
.header-btn{
  cursor: pointer;
}

@media (min-width: 1200px)
{
 nav .container {
  width: 100%;
  padding-left: 3% !important;
  padding-right: 2% !important;
}
}
 
nav .container {
  padding-left: 0;
  padding-right: 0;
  max-width: 100%;
}
.row.policy-page {
  color: #fff;
  font-size: 16px;
  padding-top: 7%;
}

