#artists  .date h3
{
color: #a992ff;
}

#artists  .date {
  width: 8%;
  padding-left: 7px;
  margin-right: 5%;
}

#artists h1{
  color: #fff;
  font-size: 23px;
  font-weight: 700;
  margin-bottom: 20px !important;
  text-align: center;
}

#artists  .Info {
  width: auto;
}
