
.events {
  background-color: #1b182b;
  padding-bottom: 5em;
  padding-top: 5em;
}

.events h2 {
font-size: 27px;
font-weight: 700;
margin-bottom: 50px !important;
text-align: left;
color: #fff;
}

.events h2 span{
  color: #A992FF;
}

.prices button {
  width: 100%;
  border: 1px solid #7d5fd2;
  background-color: #7d5fd2;
  color: #fff;
  font-size: 13px;
  padding: 8px 15px;
  border-radius: 5px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
}

.prices button a{
  color:#fff;
}

.event_box{
  background-color: #211e32;
  border: 1px solid #2C293C;
  border-radius: 5px;
  padding: 12px;
  display: flex;
  margin-bottom: 14px;
}

.date h3 ,  .Info h3 {
color: #fff;
font-size: 14px;
font-weight: 600;
margin-bottom: 0;
margin-top: 0;
}

.t1 img{
width: 15px;
}

.date{
border-right: 2px solid #2c293c;
margin-right: 3%;
width: 10%;
}

.Info
{
width: 40%;
margin-right: 3%;
}

.time{
margin-right: 3%;
width: 20%;
}

.prices{
width: 20%;
}

.prices button a:hover{
 text-decoration:none;
}

.pad10{
padding-left: 6px;
padding-right: 6px;
}

.col-lg-12 {
 width: 100%;
}

.date {
width:10%;
}


.search_results .Info{
 width: 38%;
}

.search_results .prices {
width: 12%;
}

.date_1{
width: 11%;
}

.search_results .t2 {
width: 95px;
}

.search_results h5{
font-size: 16px;
font-weight: 700;
text-align: left;
color: #fff;
}

.tags {
margin: 0;
margin-bottom: 0px;
padding: 0;
display: flex;
margin-bottom: 22px;
}

.tags li{
list-style: none;
background-color: #211E32;
border: 1px solid #2C293C;
border-radius: 9px;
font-size: 13px;
color: #7B7794;
font-weight: 600;
padding: 5px 13px;
margin-right: 7px;
}

.tags img{
width: 17px;
margin-right: 3px;
}

.search_results h2 {
margin-top: 50px;
margin-bottom: 20px;
}

.search_results .date {
width: 5%;
}

.search_results .time {
width:25%;
}

.padding-search  {
padding-left: 8%;
padding-right: 8%;
}
.t2{
  color: #4D9EFA !important;
 background:rgba(77, 158, 250, 0.20);
  }
 
  .t2, .t1{
  padding: 5px 6px;
   border-radius: 5px;
   margin-top: 0;
   font-size: 13px;
   font-weight: 600;
   margin: 0;
     margin-top: 0px;
   width: 96px;
   margin-top: 4px;
  }
  
  .t1 {
   color: #A992FF !important;
   background-color: #a992ff33;
  }

  .date p , .Info p , .product_left p{
    color:rgba(123, 119, 148, 1);
    font-size: 13px;
 font-weight: 600;
 margin: 0;
  }